packaging_format = 2

id = "mineweb"
name = "MineWeb"
description.en = "Customizable and intuitive CMS"
description.fr = "CMS personnalisable et intuitif"

version = "1.15.1~ynh2"

maintainers = ["liberodark"]

[upstream]
license = "AGPL-3.0-only"
website = "https://mineweb.org/"
admindoc = "https://docs.mineweb.org/"
code = "https://github.com/MineWeb/MineWebCMS/"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/mineweb"

    [install.init_main_permission]
    help.en = "If enabled, MineWeb will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Si cette case est cochée, MineWeb sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]
        [resources.sources.main]
        url = "https://github.com/MineWeb/MineWebCMS/archive/v1.15.1.tar.gz"
        sha256 = "d25684bc025bc98dfccb932b75d1f0cb7fb5c6c0c015a1c25f66f2af8feac729"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.apt]
    packages = "mariadb-server"

    [resources.database]
    type = "mysql"
